# Node.js
node_modules/
npm-debug.log
package-lock.json

# TypeScript
dist/
*.tsbuildinfo

# Environment variables

# Logs
logs/
*.log
log/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Misc
*.tmp
*.out
.env 
